	<div class="tab tab_picks_grupo clearfix">
		<table>
			<tr class="table_title">
				<th></th>
				<th>VIS @ LOC</th>
				<th>VIS @ LOC</th>
				<th>VIS @ LOC</th>
				<th>VIS @ LOC</th>
				<th>VIS @ LOC</th>
				<th>VIS @ LOC</th>
				<th>VIS @ LOC</th>
				<th>VIS @ LOC</th>
				<th>VIS @ LOC</th>
				<th>MARCADOR EXACTO</th>
				<th>MINUTO PRIMER GOL</th>
				<th>MINUTO ÚLTIMO GOL</th>
				<th>TOTAL S12</th>
				<th></th>
			</tr>
			<tr>
				<td>RESULTADO</td>
				<td>LOC</td>
				<td>VIS</td>
				<td>EMP</td>
				<td>PD</td>
				<td>LOC</td>
				<td>VIS</td>
				<td>EMP</td>
				<td>EMP</td>
				<td>EMP</td>
				<td>PD</td>
				<td>PD</td>
				<td>PD</td>
				<td>PD</td>
				<td></td>
			</tr>
			<tr>
				<td>MI PICK</td>
				<td>LOC</td>
				<td>VIS</td>
				<td>EMP</td>
				<td>PD</td>
				<td>LOC</td>
				<td>VIS</td>
				<td>EMP</td>
				<td>EMP</td>
				<td>EMP</td>
				<td>PD</td>
				<td>PD</td>
				<td>PD</td>
				<td>PD</td>
				<td></td>
			</tr>
			<tr>
				<td>GANADOR</td>
				<td>LOC</td>
				<td>VIS</td>
				<td>EMP</td>
				<td>PD</td>
				<td>LOC</td>
				<td>VIS</td>
				<td>EMP</td>
				<td>EMP</td>
				<td>EMP</td>
				<td>PD</td>
				<td>PD</td>
				<td>PD</td>
				<td>PD</td>
				<td></td>
			</tr>
			<tr class="table_title">
				<th></th>
				<th>VIS @ LOC</th>
				<th>VIS @ LOC</th>
				<th>VIS @ LOC</th>
				<th>VIS @ LOC</th>
				<th>VIS @ LOC</th>
				<th>VIS @ LOC</th>
				<th>VIS @ LOC</th>
				<th>VIS @ LOC</th>
				<th>VIS @ LOC</th>
				<th>MARCADOR EXACTO</th>
				<th>MINUTO PRIMER GOL</th>
				<th>MINUTO ÚLTIMO GOL</th>
				<th>TOTAL S12</th>
				<th></th>
			</tr>
			<tr class="player_info">
				<td class="player"><img src="images/profile_placeholder.png"> Lorem Ipsum 123</td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/error.png"></td>
				<td></td>
			</tr>
			<tr class="player_info">
				<td class="player"><img src="images/profile_placeholder.png"> Lorem Ipsum 123</td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/error.png"></td>
				<td></td>
			</tr>
			<tr class="player_info">
				<td class="player"><img src="images/profile_placeholder.png"> Lorem Ipsum 123</td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/error.png"></td>
				<td></td>
			</tr>
			<tr class="player_info">
				<td class="player"><img src="images/profile_placeholder.png"> Lorem Ipsum 123</td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/error.png"></td>
				<td></td>
			</tr>
			<tr class="player_info this_player">
				<td class="player"><img src="images/profile_placeholder.png"> Lorem Ipsum 123</td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/acierto.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/error.png"></td>
				<td><img src="images/error.png"></td>
				<td></td>
			</tr>
		</table>
	</div><!-- picks_grupo -->