	
	<div class="tab tab_posiciones participants clearfix">
		{{# if full_standings}}
			<table>
				<thead>
					<tr class="table_title">
						<th>JUGADOR</th>
					</tr>
				</thead>
				<tbody>
					{{# each full_standings.items}}
						<tr class="player_info">
							<td class="player">
								<figure class="profile" >
									<img src="{{^ if_eq avatar '/img/profile-image-01.png'}}{{avatar}}{{/ if_eq}}{{# if_eq avatar '/img/profile-image-01.png'}}{{cordova_full_path}}images/profile_placeholder.png{{/ if_eq}}">
								</figure>
								{{nick}} {{# number}}<sup>{{.}}</sup>{{/ number}}
							</td>
						</tr>
					{{/ each}}
				</tbody>
			</table>
		{{/ if}}
	</div><!-- posiciones -->