	<div class="tab tab_premios clearfix">
		<table>
			<tr class="table_title">
				<th>LUGAR</th>
				<th>PORCENTAJE</th>
				<th>MONTO</th>
			</tr>
			<tr class="player_info">
				<td>1 LUGAR</td>
				<td>12.3%</td>
				<td class="ganar"><img src="images/billete.png">$1,234 MXN</td>
			</tr>
			<tr class="player_info">
				<td>1 LUGAR</td>
				<td>12.3%</td>
				<td class="ganar"><img src="images/billete.png">$1,234 MXN</td>
			</tr>
			<tr class="player_info">
				<td>1 LUGAR</td>
				<td>12.3%</td>
				<td class="ganar"><img src="images/billete.png">$1,234 MXN</td>
			</tr>
			<tr class="player_info">
				<td>1 LUGAR</td>
				<td>12.3%</td>
				<td class="ganar"><img src="images/billete.png">$1,234 MXN</td>
			</tr>
			<tr class="player_info">
				<td>1 LUGAR</td>
				<td>12.3%</td>
				<td class="ganar"><img src="images/billete.png">$1,234 MXN</td>
			</tr>
			<tr class="player_info">
				<td>1 LUGAR</td>
				<td>12.3%</td>
				<td class="ganar"><img src="images/billete.png">$1,234 MXN</td>
			</tr>
			<tr class="player_info">
				<td>1 LUGAR</td>
				<td>12.3%</td>
				<td class="ganar"><img src="images/billete.png">$1,234 MXN</td>
			</tr>
			<tr class="player_info">
				<td>1 LUGAR</td>
				<td>12.3%</td>
				<td class="ganar"><img src="images/billete.png">$1,234 MXN</td>
			</tr>
		</table>
	</div><!-- premios -->