	
	<div class="tab tab_marcadores clearfix">
		<div class="marcador clearfix">
			<table>
				<tr>
					<th>Finalizado</th>
					<th>1</th>
					<th>2</th>
					<th>3</th>
					<th>4</th>
					<th>T</th>
				</tr>
				<tr>
					<td>OAK</td>
					<td>7</td>
					<td>14</td>
					<td>7</td>
					<td>10</td>
					<td>38</td>
				</tr>
				<tr>
					<td>OAK</td>
					<td>7</td>
					<td>14</td>
					<td>7</td>
					<td>10</td>
					<td>38</td>
				</tr>
			</table>
		</div><!-- marcador -->
		<div class="marcador clearfix">
			<table>
				<tr>
					<th>Finalizado</th>
					<th>R</th>
					<th>H</th>
					<th>E</th>
					<th></th>
					<th>T</th>
				</tr>
				<tr>
					<td>LAD</td>
					<td>14</td>
					<td>21</td>
					<td>0</td>
					<td></td>
					<td>28</td>
				</tr>
				<tr>
					<td>NYY</td>
					<td>7</td>
					<td>14</td>
					<td>1</td>
					<td></td>
					<td>7</td>
				</tr>
			</table>
		</div><!-- marcador -->
		<div class="marcador clearfix">
			<table>
				<tr>
					<th>Finalizado</th>
					<th></th>
					<th>1</th>
					<th>2</th>
					<th></th>
					<th>T</th>
				</tr>
				<tr>
					<td>AME</td>
					<td></td>
					<td>1</td>
					<td>0</td>
					<td></td>
					<td>1</td>
				</tr>
				<tr>
					<td>MTY</td>
					<td></td>
					<td>1</td>
					<td>1</td>
					<td></td>
					<td>2</td>
				</tr>
			</table>
		</div><!-- marcador -->
		<div class="marcador clearfix">
			<table>
				<tr>
					<th>Finalizado</th>
					<th>1</th>
					<th>2</th>
					<th>3</th>
					<th>4</th>
					<th>T</th>
				</tr>
				<tr>
					<td>OAK</td>
					<td>7</td>
					<td>14</td>
					<td>7</td>
					<td>10</td>
					<td>38</td>
				</tr>
				<tr>
					<td>OAK</td>
					<td>7</td>
					<td>14</td>
					<td>7</td>
					<td>10</td>
					<td>38</td>
				</tr>
			</table>
		</div><!-- marcador -->
	</div>