	<div class="tab tab_posiciones clearfix">
		<table>
			<tr class="table_title">
				<th>POS</th>
				<th>JUGADOR</th>
				<th>ACIERTOS</th>
				<th>A GANAR</th>
			</tr>
			<tr class="player_info">
				<td>1</td>
				<td class="player"><img src="{{cordova_full_path}}images/profile_placeholder.png"> Lorem Ipsum 123</td>
				<td>12</td>
				<td class="ganar"><img src="{{cordova_full_path}}images/billete.png">$1,234</td>
			</tr>
			<tr class="player_info">
				<td>1</td>
				<td class="player"><img src="{{cordova_full_path}}images/profile_placeholder.png"> Lorem Ipsum 123</td>
				<td>12</td>
				<td class="ganar"><img src="{{cordova_full_path}}images/billete.png">$1,234</td>
			</tr>
		</table>
	</div><!-- posiciones -->