	<header class="clearfix">
		<div class="user_info clearfix">
			<img src="images/user_placeholder.png">
			<div class="username_saldo">
				<span class="username">Covakid</span>
				<span class="saldo">$100.00</span>
			</div>
		</div>
		<div class="filtros">
			<img src="images/filtros.png">
		</div>
	</header>