	<h3>PARTIDOS</h3>
	<div class="opciones_partido clearfix">
		<span>LOCAL</span> <span>EMPATE</span> <span>VISITA</span>
	</div><!-- opciones_partido -->
	{{# data.fixtures}}
		<div class="partido clearfix">
			<div class="opcion_partido local clearfix">
				<input type="radio" name="ganador_uno" id="local">
				<img src="{{cordova_full_path}}images/camisaverde.png">
				<div class="equipo">
					<span class="iniciales">{{data.fixtures.home_team}}</span>
				</div><!-- equipo -->
				<div class="linea">
					<span>(+4) 123</span>
				</div><!-- linea -->
			</div><!-- opcion_partido -->
			<div class="opcion_partido cierre clearfix">
				<span>CIERRE: 28.feb.17</span>
			</div><!-- opcion_partido -->
			<div class="opcion_partido visitante clearfix">
				<input type="radio" name="ganador_uno" id="visitante">
				<img src="{{cordova_full_path}}images/camisaazul.png">
				<div class="equipo">
					<span class="iniciales">ABC</span>
				</div><!-- equipo -->
				<div class="linea">
					<span>(+4) 123</span>
				</div><!-- linea -->
			</div><!-- opcion_partido -->
		</div><!-- partido -->
	{{/ data.fixtures}}