
	<div id="depositCard" class="content abonar">
		<h3>FORMA DE PAGO</h3>
		<div class="botones clearfix">
			<a class="selected" >Tarjeta de crédito</a>
			<a class="hook" data-resource="deposit-stores" href="deposit-stores.html">Tienda de conveniencia</a>
		</div>
		<div class="botones_abono clearfix">
			<a class="" href=""><img src="images/billete.png">$25</a>
			<a class="" href=""><img src="images/billete.png">$50</a>
			<a class="selected" href=""><img src="images/billete.png">$100</a>
			<a class="" href=""><img src="images/billete.png">$200</a>
			<a class="" href="">Otra cantidad</a>
		</div>
		<div class="abonar_form clearfix">
			
			<form>
				<ul class="formas_pago clearfix">
					<li><img src="images/openpay.png"></li>
					<li><img src="images/securetrans.png"></li>
					<li><img src="images/mastercard.png"></li>
					<li><img src="images/visa.png"></li>
					<li><img src="images/amex.png"></li>
				</ul>
				<input type="text" placeholder="Nombre como aparece en la tarjeta">
				<input type="text" placeholder="Número de tarjeta">
				<div class="fecha_vencimiento clearfix">
					<select>
						<option>Mes</option>
					</select>
					<select>
						<option>Año</option>
					</select>
					<input type="text" placeholder="CVV">
				</div>
				<div class="submit_holder">
					<input type="submit" value="send">
				</div>
			</form>
		</div>
		<p class="legales">Los cargos a tu tarjeta de crédito serán realizados a tráves de OpenPay.</p>

		<p class="legales">Te recordamos que una vez depositado, tendrás que haber jugado al menos<br /> el 80% de lo que hayas depositado para poder solicitar retiros de fondos.</p>
	</div><!-- content -->
	