
	<div class="container clearfix lobby">
		{{> header}}
		<div class="content quinielas">
			{{# data.pools}}
				{{> each-quiniela full_path = cordova_full_path}}
			{{/ data.pools}}

		</div><!-- content -->
		{{> footer}}
	</div><!-- container -->
	
	{{> filters}}
	
	<div id="misQuinielas" class="misquinielas overlay">
		
	</div><!-- misquinielas overlay -->