
	<div class="container login">
		<div class="content">
			<div class="splash_logo">
				<a class="hook" data-resource="login" href="login.html"><img src="{{cordova_full_path}}images/logo.png"></a>
			</div>
			<h3>Contraseña restablecida</h3>
			<p>Se ha enviado un link para restablecer tu contraseña, por favor revisa tu correo electrónico.</p>
			<a class="green_button hook" data-resource="login" href="login.html">Iniciar sesión</a>
			<div class="legales clearfix">
				<a class="link_legal" onclick="window.open('https://www.pickwin.net/terminos-y-condiciones', '_blank', 'location=yes')" >Términos y condiciones | </a>
				<a class="link_legal" onclick="window.open('https://www.pickwin.net/aviso-de-privacidad', '_blank', 'location=yes')" >Política de privacidad</a>
			</div>
		</div>
	</div>