	
	<div class="content quiniela_privada_uno">
		<div class="busqueda_quinielas clearfix">
			<div class="botones clearfix">
				<a class="selected" >Buscar</a>
				<a href="private.html" class="hook" data-resource="privates-create">Crear quiniela privada</a>
			</div>
			<form id="busquedaQuinielas" method="POST" action="">
				<input id="name" name="name" type="text" placeholder="Nombre de la quiniela">
				<input id="password" name="password" type="text" placeholder="Código de la quiniela">
				<div class="submit_holder">
					<input type="submit" value="Buscar" class="green_button">
				</div>
			</form>
			<section id="insertResults">
				
			</section>
		</div>
	</div><!-- content -->