
	<div class="content quiniela_privada_crear">
		<div class="busqueda_quinielas clearfix">
			<div class="botones clearfix">
				<a class="hook" data-resource="privates" href="private.html">Buscar</a>
				<a class="selected" >Crear quiniela privada</a>
			</div>
			<div class="crear_quiniela detalles">
				<form id="searchPrivates" method="POST" action="">
					<h3>DETALLES</h3>
					<input name="name" type="text" placeholder="Nombre de la quiniela">
					<input name="password" type="text" placeholder="Código de la quiniela">
					<h3>DEPORTE</h3>
					<div class="deportes_select_crear clearfix">
						<ul class="clearfix">
							<li class="selected"><img src="images/futbol.png">Fútbol</li>
							<li><img src="images/americano.png">Fúbtol Americano</li>
							<li>Clausura 2017</li>
							<li class="selected">Champions League</li>
						</ul>
					</div>
					<select id="format_select" name="point_format">
						<option value="">Formato</option>
						<option value="natural">Sin spread (Natural)</option>
					</select>
					<select id="duration_select" name="type">
						<option value="">Duración</option>
						<option value="week">Siguiente jornada</option>
						<option value="full">Toda la temporada</option>
					</select>
					<div class="checkbox_crear clearfix">
						<input name="use_tibreakers" value="true" type="checkbox">
						<label>Usar desempates</label>
					</div>
					<div class="checkbox_crear clearfix">
						<input name="autopicks" value="true" type="checkbox">
						<label>Picks automáticos</label>
					</div>
					<div style="display: none;">
						
						<h3>PARTIDOS</h3>
						<div class="partidos_crea clearfix">
							<div class="partido clarfix">
								<div class="partido_header clearfix">
									<span>#1</span>
									<span class="fecha">28.feb.17 / 12:34</span>
								</div>
								<div class="partido_oponentes clearfix">
									<p>LOC</p><span>VS</span><p>VIS</p>
								</div>
							</div>
							<div class="partido clarfix">
								<div class="partido_header clearfix">
									<span>#1</span>
									<span class="fecha">28.feb.17 / 12:34</span>
								</div>
								<div class="partido_oponentes clearfix">
									<p>LOC</p><span>VS</span><p>VIS</p>
								</div>
							</div>
							<div class="partido clarfix">
								<div class="partido_header clearfix">
									<span>#1</span>
									<span class="fecha">28.feb.17 / 12:34</span>
								</div>
								<div class="partido_oponentes clearfix">
									<p>LOC</p><span>VS</span><p>VIS</p>
								</div>
							</div>
							<div class="partido clarfix">
								<div class="partido_header clearfix">
									<span>#1</span>
									<span class="fecha">28.feb.17 / 12:34</span>
								</div>
								<div class="partido_oponentes clearfix">
									<p>LOC</p><span>VS</span><p>VIS</p>
								</div>
							</div>
							<div class="partido clarfix">
								<div class="partido_header clearfix">
									<span>#1</span>
									<span class="fecha">28.feb.17 / 12:34</span>
								</div>
								<div class="partido_oponentes clearfix">
									<p>LOC</p><span>VS</span><p>VIS</p>
								</div>
							</div>
							<div class="partido clarfix">
								<div class="partido_header clearfix">
									<span>#1</span>
									<span class="fecha">28.feb.17 / 12:34</span>
								</div>
								<div class="partido_oponentes clearfix">
									<p>LOC</p><span>VS</span><p>VIS</p>
								</div>
							</div>
							<div class="partido clarfix">
								<div class="partido_header clearfix">
									<span>#1</span>
									<span class="fecha">28.feb.17 / 12:34</span>
								</div>
								<div class="partido_oponentes clearfix">
									<p>LOC</p><span>VS</span><p>VIS</p>
								</div>
							</div>
							<div class="partido clarfix">
								<div class="partido_header clearfix">
									<span>#1</span>
									<span class="fecha">28.feb.17 / 12:34</span>
								</div>
								<div class="partido_oponentes clearfix">
									<p>LOC</p><span>VS</span><p>VIS</p>
								</div>
							</div>
							<div class="partido clarfix">
								<div class="partido_header clearfix">
									<span>#1</span>
									<span class="fecha">28.feb.17 / 12:34</span>
								</div>
								<div class="partido_oponentes clearfix">
									<p>LOC</p><span>VS</span><p>VIS</p>
								</div>
							</div>
						</div><!-- partidos -->
					</div>

					<div class="participantes clearfix">
						<h3>PARTICIPANTES</h3>
						<div class="participantes_top clearfix">
							<label>Número de participantes</label>
							<input type="text" name="max_entries" value="">
							<label>Entrada</label>
							<input type="text" name="entry_fee" value="">
						</div><!-- participantes_top -->
						<div class="participantes_bottom clearfix">
							<input type="checkbox">
							<label>Notificaciones</label>
							<p>BOLSA $1,234</p>
						</div><!-- participantes_bottom -->
					</div><!-- participantes -->
					<div class="premios clearfix">
						<div style="display: none;" id="weeklyPrizes">
							<h3>PREMIOS SEMANALES</h3>
							<div class="premios_top clearfix">
								<select id="prizeScheme" name="prize_scheme">
									<option value="">Esquema de premios</option>
									<opton value="">Dinámico</opton>
									<opton value="">Personalizada</opton>
								</select>
							</div>
						</div>
						<h3>PREMIOS FINAL</h3>
						<div class="premios_top clearfix">
							<select id="prizeScheme" name="prize_scheme">
								<option value="">Esquema de premios</option>
								<opton value="">Dinámico</opton>
								<opton value="">Personalizada</opton>
							</select>
						</div>
						<div class="premios_bottom clearfix">
							<label>Número de participantes</label>
							<input type="text" name="max_entries" value="">
						</div>
						<table>
							<tr class="table_title">
								<th>LUGAR</th>
								<th>PORCENTAJE</th>
								<th>MONTO</th>
							</tr>
							<tr class="player_info">
								<td>1 LUGAR</td>
								<td>12.3%</td>
								<td class="ganar"><img src="images/billete.png">$1,234 MXN</td>
							</tr>
							<tr class="player_info">
								<td>1 LUGAR</td>
								<td>12.3%</td>
								<td class="ganar"><img src="images/billete.png">$1,234 MXN</td>
							</tr>
							<tr class="player_info">
								<td>1 LUGAR</td>
								<td>12.3%</td>
								<td class="ganar"><img src="images/billete.png">$1,234 MXN</td>
							</tr>
							<tr class="player_info">
								<td>1 LUGAR</td>
								<td>12.3%</td>
								<td class="ganar"><img src="images/billete.png">$1,234 MXN</td>
							</tr>
							<tr class="player_info">
								<td>1 LUGAR</td>
								<td>12.3%</td>
								<td class="ganar"><img src="images/billete.png">$1,234 MXN</td>
							</tr>
							<tr class="player_info">
								<td>1 LUGAR</td>
								<td>12.3%</td>
								<td class="ganar"><img src="images/billete.png">$1,234 MXN</td>
							</tr>
							<tr class="player_info">
								<td>1 LUGAR</td>
								<td>12.3%</td>
								<td class="ganar"><img src="images/billete.png">$1,234 MXN</td>
							</tr>
							<tr class="player_info">
								<td>1 LUGAR</td>
								<td>12.3%</td>
								<td class="ganar"><img src="images/billete.png">$1,234 MXN</td>
							</tr>
						</table>
					</div><!-- premios -->
					<div class="submit_holder">
						<input type="submit" value="send">
					</div>
				</form>
			</div>
			
		</div>
	</div><!-- content -->
