
	<div class="tab_profile transactions">
		<ul class="tablelike">
			<li class="clearfix head">
				<span style=" font-weight: 500; width: 12%; display: inline-block;">Id</span> 
				<span style=" font-weight: 500; width: 51%; display: inline-block;">Concepto</span> 
				<span style=" font-weight: 500; width: 16%; display: inline-block;">Cantidad</span>					
				<span style=" font-weight: 500; width: 19%; display: inline-block;">Fecha</span>					
			</li>
			{{# data.transactions}}
				<li class="clearfix">
					<span style="width: 12%; display: inline-block;" class="highlight">{{id}}</span> 
					<span style="width: 51%; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{concept}}</span> 
					<span style="width: 16%; display: inline-block;" class="highlight">${{formatCurrency amount}}</span> 
					<span style="width: 19%; display: inline-block;">{{ formatDate created 'L'}} </span>					
				</li>
			{{/ data.transactions}}
			{{^ data.transactions}}
				<li class="clearfix">
					<p class="empty">No tienes documentos guardados.</p>				
				</li>
			{{/ data.transactions}}
		</ul>
	</div><!-- transactions -->
	