
	<div class="tab_profile profile withraw">

		<p>Hola Pickwinero, para poder retirar fondos por favor danos la siguiente información.</p>

		<p>Te recordamos que para poder retirar tus fondos tendrás que haber jugado al menos el 100% de lo que hayas depositado la última vez. Y los retiros sólo podrán hacerce cada 48 hrs.</p>

		<p>Después de solicitar tu retiro, el equipo de Pickwin analizará tu petición y te informarán por correo electrónico el resultado de tu petición.</p>

		<p>El monto mínimo para retirar saldo es de <strong>$100.00 MXN</strong></p>
		<p>Tu balance <strong>${{ formatCurrency me.balanceReal}} MXN</strong></p>

	</div><!-- tab_profile -->
	