
	<div class="container registro_exitoso">
		<div class="content">
			<div class="splash_logo">
				<h3>{{header_title}}</h3>
				<p>Gracias por registrarte en Pickwin. <br> ¡Ahora puedes comenzar a jugar!</p>
				<p>Inicia sesión para jugar tu primera quiniela.</p>
			</div>
			<a class="green_button hook" data-resource="lobby" href="lobby.html">Ir al lobby</a>
		</div>
	</div>
